html,
body {
  background-color: #99C8FF;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  font-size: 62.5%;
}

.wrapper {
  width: 100%;
  height: 100%;
  margin-top: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerWrapper {
  width: 25rem;
  position: relative;
}

.fullTamagotchi {
  width: 100%;
}

svg {
  display: absolute;
  margin-top: 10%;
  width: 90%;
  top: 0;
}

.screen {
  position: absolute;
  width: 30%;
  top: 0;
  left: 0;
  transform: translate(110%, 190%);
  opacity: 0.8;
}

.walking {
  animation: walkingMovement 20s linear infinite;
}

.eevee {
  float: right;
  top: 50%;
}
.eevee-standing--1 {
  position: absolute;
  animation: standingToHappy 5s linear infinite;
}
.eevee-happy {
  position: absolute;
  animation: happyToStanding 5s linear infinite;
}

.sleepy {
  transform: translateY(2rem);
  animation: toSleep 20s linear infinite;
}

.zzz {
  display: block;
  height: 10%;
  width: 15%;
  transform: translate(500%, -80%);
  animation: zzz 20s linear infinite;
}

@keyframes walkingMovement {
  100%, 0% {
    opacity: 1;
    transform: rotateY(180deg);
    animation-timing-function: steps(1, end);
  }
  7.5% {
    transform: translate(0.3rem, -0.3rem) rotateY(180deg);
    animation-timing-function: steps(1, end);
  }
  10% {
    transform: translate(0.6rem, 0rem) rotateY(180deg);
    animation-timing-function: steps(1, end);
  }
  17.5% {
    transform: translate(0.9rem, -0.3rem) rotateY(180deg);
    animation-timing-function: steps(1, end);
  }
  20% {
    transform: translate(1.2rem, 0rem) rotateY(180deg);
    animation-timing-function: steps(1, end);
  }
  25% {
    transform: translate(1.2rem, 0rem);
    animation-timing-function: steps(1, end);
  }
  32.5% {
    transform: translate(0.9rem, -0.3rem);
    animation-timing-function: steps(1, end);
  }
  35% {
    transform: translate(0.6rem, 0rem);
    animation-timing-function: steps(1, end);
  }
  42.5% {
    transform: translate(0.3rem, -0.3rem);
    animation-timing-function: steps(1, end);
  }
  45% {
    transform: translate(0rem, 0rem);
    animation-timing-function: steps(1, end);
  }
  50% {
    opacity: 0;
    animation-timing-function: steps(1, end);
  }
}
@keyframes toSleep {
  100%, 0% {
    opacity: 0;
    animation-timing-function: steps(1, end);
  }
  50% {
    opacity: 1;
    animation-timing-function: steps(1, end);
  }
}
@keyframes standingToHappy {
  100%, 0% {
    opacity: 1;
    animation-timing-function: steps(1, end);
  }
  50% {
    opacity: 0;
    animation-timing-function: steps(1, end);
  }
  60% {
    opacity: 1;
    animation-timing-function: steps(1, end);
  }
  95% {
    opacity: 0;
    animation-timing-function: steps(1, end);
  }
}
@keyframes happyToStanding {
  100%, 0% {
    opacity: 0;
    animation-timing-function: steps(1, end);
  }
  50% {
    opacity: 1;
    animation-timing-function: steps(1, end);
  }
  60% {
    opacity: 0;
    animation-timing-function: steps(1, end);
  }
  95% {
    opacity: 1;
    animation-timing-function: steps(1, end);
  }
}
@keyframes zzz {
  100%, 0% {
    opacity: 0;
    animation-timing-function: steps(1, end);
  }
  50% {
    opacity: 1;
    animation-timing-function: steps(1, end);
  }
  55% {
    opacity: 0;
    animation-timing-function: steps(1, end);
  }
  60% {
    opacity: 1;
    animation-timing-function: steps(1, end);
  }
  65% {
    opacity: 0;
    animation-timing-function: steps(1, end);
  }
  70% {
    opacity: 1;
    animation-timing-function: steps(1, end);
  }
  75% {
    opacity: 0;
    animation-timing-function: steps(1, end);
  }
  80% {
    opacity: 1;
    animation-timing-function: steps(1, end);
  }
  85% {
    opacity: 0;
    animation-timing-function: steps(1, end);
  }
  90% {
    opacity: 1;
    animation-timing-function: steps(1, end);
  }
  95% {
    opacity: 0;
    animation-timing-function: steps(1, end);
  }
}